.menu-style {
    display: flex;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    font-family: "Game of Thrones";
    font-size: 36px;
    color: white;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

a:visited{
    color: white;
}

a:focus{
    color: white;
}

a:active{
    color: white;
}

.white-text{
    color: white;
}