

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: lightslategray;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.container {
    position: relative;
    background-color: inherit;
    width: 30%;
    
}
/*
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: black;
    border: 4px solid lightslategray;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
*/
.left {
    left: 240px;
    border-top: 3px solid;
}
.right {
    left: 50%;
    border-top: 3px solid;
}
.right::after {
    left: -16px;
}
.content {
    background-color: black;
    position: relative;
    border-radius: 6px;
    font-family: 'Game of Thrones';
    src: url('../../../assets/Game\ of\ Thrones.ttf');
}














.card {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    }
h5{
margin-bottom: 0;
}

h4 {
margin-top: 0;

}
    .edadNombre{
        display: flex;
        flex-direction: column;
    }

    .chronoImg {
        border-radius: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .divImagenes{
        width: 150px;
        height: 150px;
        vertical-align: top;

    }
