.bg-image{
    height: 100vh;
    background-image: url(../../../assets/Home-GOT.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -o-object-fit: cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@font-face {
    font-family: 'Game of Thrones';
    src: url('../../../assets/Game\ of\ Thrones.ttf');
    font-weight: normal;
    
  }

  .title{
    font-family: 'Game of Thrones';
    font-size: 176px;
    color: white;
    text-align: center;
    padding: 50px;
    font-weight: normal;
  }

 